* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
header .logo {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
  margin: 0 20px;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 10px;
  color: #fff;
}

header ul li a:hover {
  background: #fff;
  color: #111;
}

.contact-form {
  margin-top: 150px;
}
.contact-form > * {
  width: 50%;
}
.contact-form .first-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
  }
  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: none;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header.active ul {
    display: flex;
  }
  header ul li {
    text-align: center;
    margin: 10px;
  }
  header ul li a {
    color: #333;
    font-size: 1.5em;
  }
  header ul li a:hover {
    color: #f00;
  }
  .menuIcon {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    display: initial;
    z-index: 10000;
    background: #fff url(menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuIcon.active {
    background: #fff url(close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
